page-login {
  .button-md-primary {
    color: #fff;
    background-color: #074d86;
  }.button-md-primary {
     color: #fff;
     background-color: #074d86;
   }
  .button-outline-md-primary {
    border-color: #074d86;
    color: #074d86;
    background-color: transparent;
  }
}
